<section id="about-me">
  <h2 class="side-header">About</h2>
  <div class="bio-text">

  </div>
  <div class="avatar-container">
    <div class="avatar-container">
      <img src="/assets/images/avatar.jpg" alt="Avatar" class="avatar"><br>
    </div>
  </div>
  <div class="bio-section">
    <h4>A Southern Girl in the LA World</h4>
  
    <ul>
      <li>15 years experience in interior and exterior design
        <br>Specializing in remodels and new construction
        <br>Expert in project coordination and management</li>
      <li class="known-for">
        <span>Known for:</span>
        <ul>
          <li>Superior customer service</li>
          <li>Effective communication</li>
          <li>Meticulous attention to detail</li>
        </ul>
      </li>
      <li>Dedicated to building strong client relationships and understanding unique needs</li>
    </ul>
  
    <p>Bringing Happiness, Joy, and Beauty to You!</p>
  </div>
</section>