<!-- !PAGE CONTENT! -->
<section class="projects-section">
  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <h1>Projects</h1>
    <div class="projects-grid">

      <!-- First Photo Grid-->
      <div class="project-item">
        <!-- Project content -->
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-1-brentwood/1-brentwood.jpg" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-1-brentwood/2-brentwood_dlk.png" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-1-brentwood/3-brentwood-bath.jpg" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-1-brentwood/4-brentwood-bed.jpg" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
        </div>
        <h2>Brentwood</h2>
      </div>

      <!-- Second Photo Grid-->
      <div class="project-item">
        <!-- Project content -->
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-2-oasis/backyard-1.jpg" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-2-oasis/backyard-2.jpg" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-2-oasis/backyard-3.jpg" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-2-oasis/backyard-4.jpg" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
        </div>
        <h2>Backyard Oasis</h2>
      </div>

      <div class="project-item">
        <!-- Project content -->
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-3-brentwood/1-brentwood_upstairs_outside.png" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-3-brentwood/2-brentwood_guest.png" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-3-brentwood/3-brentwood_upstairs_nook.png" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-3-brentwood/4-brentwood_patio_1.png" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
        </div>
        <h2>Condo Remodel</h2>
      </div>

      <div class="project-item">
        <!-- Project content -->
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-4-other/1-west-bed.jpg" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-4-other/2-loft.jpg" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-4-other/3-west-bath.jpg" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
          <div class="w3-quarter">
            <div class="image-container">
              <img src="/assets/images/projects/row-4-other/pink-flower.jpg" alt="brent-kitchen" style="width:100%">
            </div>
          </div>
        </div>
        <h2>Westchester</h2>
      </div>
    </div>
</section>