<!DOCTYPE html>
<html lang="en">
<head>
<title>Becky Dale Daly Design</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
<meta name="keywords" content="interior design, exterior design, project management, construction, landscaping, beauty">
<meta name="description" content="Becky Dale Daly Design">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="styles.css">
<script src="script.js" defer></script>
</head>

<body>
<div class="header">
  <img src="/assets/images/banner.png" alt="Banner" style="max-width:100%; height:auto;">
  <!-- <h1>My Website</h1>
  <p>A website created by me.</p> -->
</div>

<div class="navbar">
  <a href="#about-me">About</a>
  <a href="#contact">Contact</a>
  <div class="instagram-icon">
    <a href="https://www.instagram.com/beckydaledalydesign" target="_blank">
      <i class="fab fa-instagram"></i>
      beckydaledalydesign
    </a>
  </div>
  <!-- <a href="#" class="right">Link</a> -->
</div>

<div class="row">
  <div class="side">

    {% include about.html %}

    {% include contact.html %}

  </div>

  <div class="main">
    <h2>TITLE HEADING</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>

<div class="footer">
  <h2>Becky Dale Daly Design</h2>
</div>

</body>
</html>