<!DOCTYPE html>
<html lang="en">
<head>
<title>Becky Dale Daly Design</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
<meta name="keywords" content="interior design, exterior design, project management, construction, landscaping, beauty">
<meta name="description" content="Becky Dale Daly Design">
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="script.js" defer></script>
</head>

<body>
<div class="header">
  <img src="/assets/images/banner.png" alt="Banner" style="max-width:100%; height:auto;">
  <!-- <h1>My Website</h1>
  <p>A website created by me.</p> -->
</div>

<div class="navbar">
  <a href="#about-me">About</a>
  <a href="#contact">Contact</a>
  <div class="instagram-icon">
    <a href="https://www.instagram.com/beckydaledalydesign" target="_blank">
      <i class="fab fa-instagram"></i>
      beckydaledalydesign
    </a>
  </div>
  <!-- <a href="#" class="right">Link</a> -->
</div>

<div class="row">
  <div class="side">

    {% include about.html %}

    {% include contact.html %}

  </div>

  <div class="main">

    {% include gallery.html %}
  </div>
</div>

<div class="footer">
  <h2>Becky Dale Daly Design</h2>
</div>

</body>
</html>